a {
    color: black;
    text-decoration: none;
}

#header {
    text-align: center;
}

hr {
    border: 2px solid rgba(199, 247, 194, 0.9);
}

#myContent {
    height: auto;
    min-height: 600px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgba(199, 247, 194, 0.9);
}

#myForm {
    width: 80%;
    margin: 10%;
    height: auto;
}

#backToForm {
    position: relative;
    float: right;
    top: -40px;
}

#button {
    text-align: center;
    align-content: center;
    margin-top: 50px;
}

#search {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(199, 247, 194, 0.9);
    border: 1px solid rgba(0,0,0, 0.3);
}

.card-header {
    background-color: rgba(199, 247, 194, 0.9) !important;
}

.btn-primary {
    background-color: rgba(199, 247, 194, 0.5);
    color: black;
    border: 1px solid rgba(199, 247, 194, 0.5);
}

.btn-primary:hover {
    background-color: rgba(199, 247, 194, 1);
    border: 1px solid rgba(199, 247, 194, 0.5);
    color: black;
}

@media only screen and (min-width: 800px){

    #myContent {
        height: auto;
        min-height: 700px;
    }

    #backToForm {
        position: none;
        float: right;
        top: 0px;
    }

}